.statistics {
  width: 500px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  padding: 70px 0;

  background-color: #e1eceb;
}

.title {
  width: 441px;
  margin: 0;
  padding: 20px 10px;
  color: #878f8e;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
}

.statList {
  display: flex;
  margin: 0;
  padding: 0;
}

.item {
  padding: 10px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.item:first-child {
  background-color: #138686;
  border-radius: 0 0 0 5px;
}
.item:last-child {
  background-color: #307474;
  border-radius: 0 0 5px 0;
}
.item:nth-child(2) {
  background-color: purple;
}
.item:nth-child(3) {
  background-color: red;
}
.item:nth-child(4) {
  background-color: green;
}

.label {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.05em;
  color: #fff;
}

.percentage {
  font-size: 25px;
  line-height: 1.3;
  letter-spacing: 0.05em;
  color: #fff;
}
